* {
  box-sizing: border-box;
}
html {
  font-family: "Orbitron", sans-serif;
}
main {
  width: 320px;
  margin: 5% auto;
  border: 1px solid black;
  background-image: linear-gradient(white, cyan);
  border-radius: 1rem;
  box-shadow: 3px 3px 5px gray;
}
button {
  background-image: linear-gradient(#fff, #ddd);
}
div.buttons {
  display: flex;
  justify-content: stretch;
  width: 100%;
  margin-top: 0.5rem;
}
section.operations > button {
  padding: 0.25rem 1rem;
}
.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}
.numbers button {
  min-height: 2rem;
}
.operations {
  margin-left: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
}
button {
  padding: 0.25rem 1.5rem;
  font-size: 2.65rem;
  border-radius: 1rem;
}
output {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  background: #eee;
  border: 1px solid grey;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0;
}
